<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hardCarry.shopping.dao.UserDAO">
	<insert id="save" parameterType="User">
		INSERT INTO USER(u_name, u_id,
		u_pw, u_phone, u_email, u_address)
		VALUES(#{name},#{id},#{pw},#{phone},#{email},#{address})
	</insert>

	<!-- 회원 조회 -->
	<select id="logmemberlookup" parameterType="hashMap" 
		resultType="AdminUserViewEntity">
		SELECT *
		FROM user
		where u_name like
		CONCAT('%',#{search},'%')
		LIMIT #{page},#{size}
	</select>

	<!-- 회원 조회 서치 -->
	<select id="countAll" resultType="long" parameterType="string"> 
		SELECT
		count(*)
		FROM user
		where u_name like CONCAT('%',#{search},'%')
	</select>

</mapper>